<div id="<%= dom_id consultation %>">
  <p>
    <strong>Name:</strong>
    <%= consultation.name %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= consultation.purpose %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= consultation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= consultation.end_time %>
  </p>

</div>
